* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul,
menu {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.title {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 36px;
  text-align: center;
  color: #363434;
}
.subtitle {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #0b0b0b;
}
.button {
  background: linear-gradient(180deg, #9bcfff 0%, #fff383 0.01%, #ffc700 100%);

  box-shadow: 0px 4px 0px #c89c00;
  border-radius: 5px;
  color: #6a5300;
  cursor: pointer;
  border: none;
  padding: 20px 75px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 32px;

  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.button:hover {
  background: linear-gradient(180deg, #9bcfff 0%, #fff383 0.01%, #ffc700 100%);
}
.button:active {
  background: linear-gradient(180deg, #9bcfff 0%, #ffe456 0.01%, #ffb800 100%);
}
.hero {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 90px;
}
.nav__wrapper {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
}

.nav__item :last-child {
  margin-right: 0;
  margin-right: 40px;
}
.nav__link :hover {
  border-bottom: 1px solid green;
}
.nav__phone {
  display: flex;
  flex-direction: column;
  padding-left: 26px;
}
.nav__phone-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: black;
  position: relative;
  margin-bottom: 10px;
}
.nav__phone-link::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url(./img/tel.png);
  background-repeat: no-repeat;
  left: -26px;
  top: 3px;
}
.nav__phone-text {
  font-size: 13px;
  line-height: 15px;
  color: #7d808a;
}
.hero__title {
  margin-bottom: 40px;
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 107%;
  color: black;
  max-width: 615px;
  width: 100%;
}
.nav__w {
  display: flex;
}
.hero__subtitle {
  max-width: 480px;
  width: 100%;
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #646464;
  padding-left: 45px;
  position: relative;
  margin-bottom: 40px;
}
.hero__subtitle span {
  color: gray;
  font-weight: 700;
}
.hero__subtitle ::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 1px;
  background-color: #646464;
  left: 0px;
  top: 16px;
}
.hero__button {
  background: linear-gradient(180deg, #9bcfff 0%, #fff383 0.01%, #ffc700 100%);

  box-shadow: 0px 4px 0px #c89c00;
  border-radius: 5px;
  position: absolute;

  cursor: pointer;
  border: none;
  padding: 20px 75px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.hero__button:hover {
  background: linear-gradient(180deg, #9bcfff 0%, #fff383 0.01%, #ffc700 100%);
}
.hero__button:active {
  background: linear-gradient(180deg, #9bcfff 0%, #ffe456 0.01%, #ffb800 100%);
}
/* about */
@media screen and (max-width: 1224) {
  .about__img {
    max-width: 415px;
  }

.about__number {
  font-size: 32px;
}
.about__item-text {
  font-size: 15px;
  line-height: 25px;
}
.about__descripcion {
  font-size: 13px;
  line-height: 20px;
}
}
@media screen and (max-width: 992px) {
  .about__list {
    grid-column-gap: 20px;
    grid-row-gap: 25px;
  }

  .nav__list {
    display: none;
  }
}
.about__img {
  max-width: 415px;
}
.about__item-text  {
  font-size: 13px;
  line-height: 22px;
}
.about {
  margin-bottom: 45px;
}
.about__title {
  margin-bottom: 90px;
}
.about__inner {
  display: flex;
  align-items: center;
}
.about__img {
  margin-right: 30px;
  max-width: 600px;
  width: 100%;
}
.about__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 25px;
  min-width: 540px;
  width: 100%;
}
.about__number {
  font-family: "Philosopher";
  font-weight: 700;
  font-size: 42px;
  line-height: 160%;
  color: #008139;
}
.about__item-text {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #0b0b0b;
}
.about__descripcion {
  font-size: 15px;
  line-height: 28px;
  color: 77ee7e;
}
/* winneer */
.winner--title {
  margin-bottom: 25px;
}
.winner__list {
  padding: 75px 0 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}
.winner__item {
  padding-top: 120px;
  position: relative;
}
.winner__item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  top: 0;
  left: 50%;
  transform: translate(-50%, -45%);
  height: 125px;
  width: 125px;
  /* background-image: url(./img/winner/clock.png); */
}
.winner__item--point::before {
  background-image: url(./img/winner/clock.png);
}
.winner__item--table::before {
  background-image: url(./img/winner/table.png);
}
.winner__item--clock::before {
  background-image: url(./img/winner/clock.png);
}
.winner__item--car::before {
  background-image: url(./img/winner/car.png);
}
.winner__title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  color: #0b0b0b;
}
.winner__description {
  font-size: 15px;
  line-height: 151.7%;
  text-align: center;
  color: #7e7e7e;
}
.direction {
  padding: 100px 0;
  background-image: url(./img/direction.bg.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
}
.direction::after {
  content: "";
  position: absolute;
  height: 168px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./img/direction/cloud.png);
  bottom: 0;
  left: 0;
  right: 0;
}
.direction--title {
  margin-bottom: 25px;
}
.direction__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 55px;
  padding-top: 75px;
  margin-bottom: 50px;
}
.direction__item {
  max-width: 370px;
  width: 100%;
  background-color: #fff;
  padding: 0 25px;
  border: 1px solid #eaeaea;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}
.direction__img {
  margin-top: -25px;
  margin-bottom: 45px;
  max-width: 320px;
  width: 100%;
}
.direction__title {
  font-size: 15px;
  line-height: 25px;
}

.direction__description {
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #7e7e7e;
  max-width: 280px;
  width: 100%;
  margin: 0 auto 45px;
}
.direction--button {
  display: block;
  margin: 0 auto;
}
/* visitors */

.visitors {
  padding: 150px 0 250px;
}
.visitors--container {
  max-width: 1920px;
  padding: 0;
}
.visitors--title {
  margin-bottom: 70px;
}
.visitors__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}
.visitors__item {
  cursor: pointer;
  position: relative;
}
.visitors__bg {
  display: none;
}
.visitors__bg::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
}
.visitors__bg::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-image: url(./zoom.svg);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.visitors__img {
  max-width: 375px;
  width: 100%;
  height: 100%;
}
.visitors__item:hover .visitors__bg {
  display: block;
}
@media screen and(max-width:992px) {
  .visitors__list {
    grid-template-columns: repeat(4, 1fr);
  }
  .visitors__item:nth-child(9) {
    display: none;
  }
  .visitors__item:nth-child(10) {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .visitors {
    padding: 50px 0 50px;
  }
  .visitors__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .visitors__item:nth-child(9) {
    display: block;
  }
}
/* horses */
.horses {
  margin-bottom: 140px;
}
.horses--title {
  margin-bottom: 70px;
}
.horses__list {
  display: flex;
  overflow-x: scroll;
  padding-top: 25px;
}
.horses__item {
  min-width: 370px;
  margin-right: 30px;
  border: 1px solid #cacaca;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  padding: 0 25px 45px;
}
.horses__item:last-child {
  margin-right: 0;
}
.horses__img {
  margin-top: -25px;
  margin-bottom: 25px;
  object-fit: cover;
  max-width: 320px;
  width: 100%;
}
.horses__title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #363434;
  padding-bottom: 25px;
  position: relative;
}
.horses__title::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 1px;
  background: #008139;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.horses__description {
  max-width: 280px;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #7e7e7e;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .horses__img {
    margin-top: -20px;
    max-width: 240px;
  }
  .horses__item {
    min-width: 290px;
    padding: 0 25px 25px;
  }
  .horses__title {
    font-size: 15px;
    line-height: 21px;
  }
  .horses__description {
    font-size: 14px;
    line-height: 21px;
  }
  @media screen and (max-width: 768px) {
    .horses__img {
      max-width: 210px;
    }
    .horses__item {
      min-width: 250px;
      padding: 0 20px 20px;
      margin-bottom: 50px;
    }
  }
  @media screen and (max-width: 480px) {
    .horses__img {
      max-width: 190px;
    }
    .horses__item {
      min-width: 220px;
      padding: 0 15px 15px;
    }
  }
  @media screen and (max-width: 320px) {
    .horses__img {
      max-width: 230px;
    }
    .horses__item {
      min-width: 260px;
      padding: 0 15px 15px;
    }
  }
}
/* question*/
.question {
  padding: 140px 0 90px;
}
.question__form {
  margin-left: auto;
  max-width: 470px;
  width: 100%;
  padding: 60px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  position: relative;
}
.question__title {
  font-family: "Philosopher";
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  color: #363434;
  margin-bottom: 15px;
}
.question__description {
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #7e7e7e;
  margin-bottom: 30px;
}
.question__input {
  border: 1px solid #8f8f8f;
  border-radius: 5px;
  padding: 20px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
.question--button {
  width: 100%;
  margin-bottom: 30px;
}

.question__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.question__checkbox + .question__label-checkbox {
  user-select: none;
}
.question__label-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #ffc700;
  border-radius: 2px;
}
.question__label-checkbox::before {
  user-select: none;
}
/* comments */
.comments {
  padding: 240px 0 150px;
}
.comments--title {
  margin-bottom: 70px;
}
.comments__list {
  display: flex;
  margin-bottom: 100px;
}
.comments__item:first-child {
  margin-right: 30px;
}

.comments__item {
  border: 1px solid #eaeaea;
  box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  padding: 40px 45px 35px;
  position: relative;
}
.comments__item::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 37px;
  bottom: 35px;
  right: 45px;
  background-repeat: no-repeat;
  background-size: contain;
  background: url(./img/сoments/quote.svg);
}
.comments__description {
  font-size: 15px;
  line-height: 24px;
  color: #363434;
  margin-bottom: 15px;
}
.comments__btn {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  border: none;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #008139;
  background-color: #fff;
  margin: 0 auto;
  padding: 7px 41px 7px 31px;
  display: block;
  position: relative;
  margin-bottom: 45px;
  cursor: pointer;
}
.comments_inner {
  display: flex;
}
.comments__name {
  font-size: 16px;
  line-height: 21px;
  color: #101820;
  margin-bottom: 10px;
}
.comments__link {
  position: relative;
  font-size: 0;
  width: 18px;
  height: 18px;
}
.comments__link::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/сoments/instagram.png);
}
.comments__btn::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 7px;
  top: 15px;
  right: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/сoments/tick.png);
}

@media screen and (max-width: 768px) {
  .comments__list {
    flex-wrap: wrap;
  }
  .comments__item {
    padding: 25px 20px 15px;
  }
  .comments__item:first-child {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .comments__item::before {
    width: 33px;
    height: 27px;
    background-size: cover;
  }
}
@media screen and (max-width: 480px) {
  .comments__item::before {
    width: 33px;
    height: 27px;
    bottom: 15px;
    right: 15px;
  }
}
/* contacts */
.contacts {
  padding: 70px 0;
  background-repeat: no-repeat;
  block-size: cover;
  background-position: center center;
}
.contacts--title {
  text-align-last: left;
  margin-bottom: 70px;
  position: relative;
}
.contacts--title::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 1px;
  left: 0;
  background-color: #008139;
}
.contacts__inner {
  padding: 50px 70px 70px;
  background-color: #fff;
  max-width: 525px;
  width: 100%;
}
.contacts__item {
  padding-left: 40px;
  margin-bottom: 30px;
  position: relative;
}
.contacts__item::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
}
.contacts__item--pin::before {
  background-image: url(./img/contacts/pin.svg);
}
.contacts__item--phone::before {
  background-image: url(./img/contacts/phone.svg);
}
.contacts__item--email::before {
  background-image: url(./img/contacts/email.svg);
}
.contacts__item--clock::before {
  background-image: url(./img/contacts/clock.svg);
}
.contacts__adress--item {
  margin-bottom: 5px;
}
.contacts__adress--item:last-child {
  margin-bottom: 0;
}
.contacts__social {
  display: flex;
  justify-content: flex-end;
}
/* footer */
.footer {
  background-color: #0b0b0b;
  padding: 25px;
}
.footer .nav__link {
  color: #eaeaea;
}
.footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.footer .nav__list {
  align-items: center;
}
.footer__btn {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #f5f5f5;
  padding: 15px 40px;
  background-color: transparent;
  border: 1px solid #fde724;
  border-radius: 5px;
}
.footer__copy {
  font-size: 13px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #7d808a;
  margin-right: 40px;
}
.footer__copy:last-child {
  margin-right: 0%;
}
